# Папки
node_modules
documents
API/Bills
API/contracts
logs
dump.sql

# Конфиги и файлы сборки
.dockerignore
Dockerfile
docker-compose.yml
.env
backup_mysql.sh

# Временные и мусорные файлы
npm-debug.log
*.sqlite
*.log
*.md
*.zip
*.tar
*.bak
*.tmp
