node_modules
.env
package-lock.json
/API/models/config.js
/API/models/configEmail.js
API/documents/img/stamp1.png
API/models/bcryptjs.js
API/public/main.bundle.js
API/public/main.bundle.js.map
API/Bills/logfile.txt
API/Bills
