.mainReportForm
   width: 100%
   height: 100%
   background-color: #eee29d
.headerReportForm
   width: 100%
   display: flex
   justify-content: space-around
   padding: 5px
.headerReportBtn
   background-color: #decf7f
   color: #5333b4
   border: none
.reportTable
   width: 100%
   height: 92%
.driverReportMainDiv
   height: 100%
.driverReportHeader
   position: relative
   display: flex
   justify-content: space-around
.divDriverChoise
   margin: 16px
   height: 100%
   width: 150px
.driverReportBtn
   width: 100px
   margin: 16px
   padding: 0
   height: 23px
   border-width: 1px
.driveReportTableContainer
   width: 100%
   overflow-y: auto
   height: 85%
.driveReportTable
   border-collapse: collapse
   width: 98%
   margin: 0 1%
.driverReportTd
   border: 1px solid #000
   text-align: center
.headerH
   text-align: center
.tabsContainer
   display: flex
   justify-content: space-between
   width: 100%
.divTab
   border: 1px solid #000
   width: 150px
   text-align: center
   margin: 0 -1px -1px -1px
.divParamSearch
   border: 1px solid #000
   width: 100%
   display: flex
   justify-content: space-around
   padding: 10px 0
   margin: 0 -1px
.divWithWhiteBottom
   border-bottom: 1px solid#eee3a2
.divParamChoise
   width: 150px
   border: 1px solid #000
   box-sizing: border-box
   margin: -1px
   height: 18px
.btnContainer
   margin: 0 50px
.reconciliationBtn
   margin: 0 50px
   min-width: 100px
.reconciliationDiv
   height: 100%