.userWindowDiv
    position: absolute
    left: 10%
    top: 10%
    width: 1200px
    border: 1px solid #000
    z-index: 25
    background-color: white
    height: 70vh
    opacity: 0.1
    transition-property: opacity
    transition-duration: 0.5s
.userWindowHeader
    border: 1px solid #000
    background-color: #6462623b
    text-align: center
    display: flex
    justify-content: space-between
    height: 5.5%
    max-height: 25px
    box-sizing: border-box
.userWindowHeaderName
    width: 97%
.userWindowHeaderClose
    display: flex
    justify-content: space-around
    width: 6%
.unselected
    user-select: none
rect
    transform-origin: center
