.stocksContainer
  width: 100%
  height: 100vh
  background: linear-gradient(0deg, #fff 0%, #d9d9ff 50%, #fff 100%)
  background-color: #d9d9ff
.stocksHeader
  width: 100%
  height: 50px
  display: flex
  justify-content: space-between
  background: linear-gradient(0deg, #fff 0%, #00f 50%, #fff 100%)
  font-size: 30px
  font-weight: bold
  font-family: 'Arial', sans-serif
  font-style: italic
  color: #5f1717
.stocksLogo
  width: 15%
  display: flex
  justify-content: center
  align-items: center
.stocksLogoImg
  aspect-ratio: auto
  display: block
  margin: 0 auto
  height: 100%
.stocksMenu
  width: 75%
  display: flex
  justify-content: space-around
  justify-items: center
  align-items: center
.stocksExit
  width: 10%
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
.stocksMenuButton
  font-size: 20px