@media (min-width: 1380px)
  .wrapperForAccount
    min-width: 585px
  .orderLogoImg
    aspect-ratio: auto
    display: block
    margin: 0 auto
@media (max-width: 1380px)
  .wrapperForAccount
    min-width: 320px
  .orderLogoImg
    aspect-ratio: auto
    display: block
    margin: 0 auto
    height: 40px
    width: 64px
@media (max-width: 1100px)
  .wrapperForAccount
    font-size: 14px
.wrapperForAccount
  display: flex
  width: 35%
  align-items: center
.orderDivInfoSpan
  margin-left: 10px
.spanNoSpace
  white-space: nowrap
.inputDeposit
  width: 90px
