.orderMenuUserCircle
  border-radius: 50%
  border: 1px solid red
  width: 10px
  height: 10px
  font-size: 10px
  color: red
  text-align: center
.orderMenuUserCircle:hover
  border: 1px solid blue
  color: blue
  cursor: pointer
.orderMenuUserSpan
  position: relative
  font-family: cursive
.orderMenuUserSpan:hover
  color: grey
.tooltip
    position: absolute
    left: -210px
    top: 5px
    border: 1px solid #000
    background-color: #efe3a2
    width: 200px
    z-index: 30
.orderMenuUserBtn
    border: none
    margin: 0 10px
    height: 22px
.orderMenuUserBtn:hover
    color: blue
