.filterDateDiv
    position: absolute
    left: 0
    border: 1px solid #000
    width: 250px
    max-height: 320px
    display: flex
    flex-direction: column
    z-index: 10
    background-color: #eee
    opacity: 0.95
    overflow-y: auto
    font-size: 14px
.filterBtnPlus
    width: 14px
    height: 14px
    margin: 0
    padding: 0
    border: none
    outline: none
.felterStrDiv
    display: flex
.filterP
    margin: 1px
    text-align: left
.felterMonthDiv
    display: flex
    flex-direction: column
