// Основные стили
.odersMenu
  position: relative
  width: 50%
  justify-content: space-around
  align-items: center
  display: flex

  &Btn
    margin: 0 10px
    border: none
    padding: 3px
    height: 22px

    &:hover
      color: blue

    &:active
      color: brown
      border: none

.dropDownMenu
  display: flex
  flex-direction: column
  position: absolute
  top: 13px
  left: 10px
  z-index: 25
  align-items: start
  margin: 10px
  border: 1px solid #000
  background-color: #ddd

.odersDropMenuBtn
  padding: 3px
  border: none
  background: none
  width: 100%
  text-align: start

  &:hover
    background-color: #ccc
    color: blue

.odersMenuVertical
  position: absolute
  flex-direction: column
  top: 58px
  z-index: 25
  left: 40%
  width: 225px

// Медиа-запросы
@media (min-width: 1380px)
  .smallMenu
    display: none
  .odersMenu
    display: flex
  .odersMenuVertical
    display: none

@media (max-width: 1380px)
  .smallMenu
    display: none
  .odersMenu
    display: flex
  .odersMenuVertical
    display: none
@media (max-width: 1300px)
  .odersMenuBtn
    height: 35px

@media (max-width: 1100px)
  .odersMenu
    font-size: 12px
    &Btn
      margin: 0 5px

@media (max-width: 1020px)
  .smallMenu
    display: none
  .odersMenu
    display: flex
  .odersMenuVertical
    display: none

@media (max-width: 950px)
  .smallMenu
    display: block
  .odersMenu
    display: none
  .odersMenuVertical
    display: flex
