.userTd
    border: 1px solid #000
    width: auto
    text-align: center
    //height: 20px
    position: relative

.virtualDivContext
    position: absolute
    z-index: 30
    border: 1px solid black
    background-color: #fff
    

