@media (min-width: 1380px)
    .odersDivInfo
        height: 25px
        font-size: 16px
    .orderMenuUser
        min-width: 240px
    .odersDiv
        height: calc(98vh - 25px)
    .wrapperForAccount
        min-width: 320px
    .smallMenu
        display: none
    .odersMenu
        display: flex
    .odersMenuVertical
        display: none
    .odersTheadSpan
        font-size: 18px
    .odersTheadSpanSum
        font-size: 14px
    .odersTd
        font-size: 18px
    .odersTRheader
        min-width: 78px
    .odersTheadSpanSum
        display: inline-block
    .orderLogo
        width: 15%
    .orderLogoImg
        aspect-ratio: auto
        display: block
        margin: 0 auto
@media (max-width: 1380px)
    .odersDivInfo
        height: 50px
        font-size: 16px
    .orderMenuUser
        min-width: 240px
    .odersDiv
        height: calc(98vh - 50px)
        $heightHeader: 50px
    .wrapperForAccount
        min-width: 320px
    .smallMenu
        display: none
    .odersMenu
        display: flex
    .odersMenuVertical
        display: none
    .odersTheadSpan
        font-size: 18px
    .odersTheadSpanSum
        font-size: 14px
    .odersTd
        font-size: 18px
    .odersTRheader
        min-width: 78px
    .odersTheadSpanSum
        display: inline-block
    .orderLogo
        width: 50px
    .orderLogoImg
        aspect-ratio: auto
        display: block
        margin: 0 auto
        height: 40px
        width: 64px
@media (max-width:1020px)
    .odersDivInfo
        height: 50px
        font-size: 16px
    .orderMenuUser
        min-width: 240px
    .wrapperForAccount
        min-width: 200px
    .smallMenu
        display: none
    .odersMenu
        display: flex
    .odersMenuVertical
        display: none
    .odersTheadSpan
        font-size: 18px
    .odersTheadSpanSum
        font-size: 14px
    .odersTd
        font-size: 18px
    .odersTRheader
        min-width: 78px
    .odersTheadSpanSum
        display: inline-block
@media (max-width:950px)
    .odersDivInfo
        height: 50px
        font-size: 16px
    .orderMenuUser
        min-width: 240px
    .smallMenu
        display: block
    .odersMenu
        display: none
    .odersMenuVertical
        display: flex
    .odersTheadSpan
        font-size: 18px
    .odersTheadSpanSum
        font-size: 14px
    .odersTd
        font-size: 18px
    .odersTRheader
        min-width: 78px
    .odersTheadSpanSum
        display: inline-block
    .odersTheadSpan
        font-size: 12px
    .odersTheadSpanSum
        font-size: 10px
    .odersTd
        font-size: 12px
    .odersTRheader
        min-width: 40px
    .odersTheadSpanSum
        display: none
@media ( max-width: 700px)
    .odersDivInfo
        height: 50px
        font-size: 12px
    .orderMenuUser
        min-width: 140px
    .mobileViewOff
        display: none
    .odersTheadSpan
        font-size: 12px
    .odersTheadSpanSum
        font-size: 10px
    .odersTd
        font-size: 12px
    .odersTRheader
        min-width: 40px
    .odersTheadSpanSum
        display: none
.odersDivInfo
    display: flex
    justify-content: space-between
.wrapperForAccount
    display: flex
    width: 25%
.orderDivInfoSpan
    margin-left: 10px
.spanNoSpace
    white-space: nowrap
.odersDiv
    outline: 1px solid #000
    background-color: #ccc
    width: 100%
    display: flex
    flex-direction: column
    overflow-y: scroll
.odersMenu
    position: relative
    width: 50%
    justify-content: space-around
.odersMenuVertical
    position: absolute
    flex-direction: column
    top: 58px
    z-index: 25
    left: 40%
    width: 225px
.odersMenuBtn
    margin: 0 10px
    border: none
    padding: 3px
    height: 22px
.odersMenuBtn:hover
    color: blue
.odersMenuBtn:active
    color: brown
    //padding: 5px 1px 1px 5px
    border: none
.orderMenuUser
    display: flex
    width: 25%
    justify-content: end
    position: relative
.orderMenuUserCircle
    border-radius: 50%
    border: 1px solid red
    width: 10px
    height: 10px
    font-size: 10px
    color: red
    text-align: center
.orderMenuUserCircle:hover
    border: 1px solid blue
    color: blue
    cursor: pointer
.orderMenuUserSpan
    position: relative
    font-family: cursive
.orderMenuUserSpan:hover
    color: grey
.orderMenuUserBtn
    border: none
    margin: 0 10px
    height: 22px
.orderMenuUserBtn:hover
    color: blue
.odersTable
    border: 1px solid #000
    margin: 0 auto 50px auto
    width: 94%
    //height: 70%
    border-collapse: collapse
    //overflow: scroll
.odersTr
    width: 97%
.odersTRheader
    background-color: #ccc
    position: sticky
    top: 0
    z-index: 20
    vertical-align: top
    border: 1px solid #000
    width: auto
    text-align: center
    height: 20px
    font-size: 18px
.odersTheadSpan
    width: 75%
    display: inline-block
    margin: 0
.odersTheadSpanSum
    width: 75%
    margin: 0
    font-weight: 700
.theadBtnFilter
    border: none
    background: #ccc0
    outline: none
    width: 25px
    padding: 0
    position: absolute
    bottom: 0
    right: 0
.odersTbody
    height: 70%
    background-color: #fff
    overflow: auto
.odersTd
    border: 1px solid #000
    width: auto
    text-align: center
    height: 20px
    position: relative
.backGroundGrey
    background-color: green
.oderTdTooltip
    position: absolute
    border: 1px solid #5a5342
    background-color: #ebd9b0
    left: 70%
    top: -20%
    opacity: .85
    z-index: 20
    width: 150%
.odersTdBtn
    width: 96%
    margin: .5%
    padding: 0
    height: 21px
    border-width: 1px
.divChoise
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    left: 0
    background-color: white
    width: 100%
.odersP
    margin: 0
    padding: 0
.odersDivP
    position: relative
.odersContextH4
    margin: 5px
    padding: 0
    text-align: center
    font-size: 22px
.odersDivContextMenu
    position: absolute
    border: 1px solid #000
    width: 200px
    background-color: #ececec
    z-index: 10
    text-align: left
    font-size: 18px
.odersContextP
    margin: 0 0 0 10px
    padding: 0
hr
    margin: 0
.dropDownMenu
    display: flex
    flex-direction: column
    position: absolute
    top: 13px
    left: 10px
    z-index: 25
    align-items: start
    margin: 10px
    border: 1px solid #000
    background-color: #ddd
.odersDropMenuBtn
    padding: 3px
    border: none
    background: none
    width: 100%
    text-align: start
.odersDropMenuBtn:hover
    background-color: #ccc
    color: blue
.orderDivDocForm
    position: absolute
    top: 100px
    left: calc(50vw - 300px)
.tooltip
    position: absolute
    left: -210px
    top: 5px
    border: 1px solid #000
    background-color: #efe3a2
    width: 200px
    z-index: 30
.requestStatus
    width: 150px
    position: absolute
    top: calc(50vh - 50px)
    left: calc(50vw - 150px)
    font-size: 30px
    color: blue
    animation-name: blink
    animation-duration: 4s
    animation-iteration-count: infinite
@keyframes blink
    0%
        opacity: 0.5
        color: blue
    25%
        color: yellow
    50%
        opacity: 1
        color: blue
    75%
        color: yellow
    100%
        opacity: 0.5
        color: blue
.orderNewCreateTD
    width: 90%
