.odersDiv
    border: 1px solid #000
    height: 78vh
    width: 100%
    display: flex
    flex-direction: column
    overflow: scroll
.odersTable
    border: 1px solid #000
    margin: 3%
    width: 94%
    height: 70%
    //overflow: scroll
.odersTr
    width: 100%
.odersTRheader
    background-color: #ccc
    position: sticky
    top: 0
.odersTbody
    height: 70%
    overflow: auto
.odersTd
    border: 1px solid #000
    width: auto
    text-align: center
    height: 20px
.odersTdBtn
    width: 96%
    margin: 2%
.divChoise
    display: flex
    flex-direction: column
.odersP
    margin: 0
    padding: 0
