.customerPaymentsMainDiv
    height: calc( 100% - 2px )
    border: 1px solid #000
    background-color: #eee29d
    overflow-y: auto
.customerPaymentsMainTable
    border: 1px solid #000
    background-color: #d4a3383b
    width: calc( 100% - 2px )
    margin: auto
    border-collapse: collapse
    table-layout: fixed
.customerPaymentMainMainHeader
    background-color: #ccc
    position: sticky
    top: 0
    z-index: 20
    vertical-align: top
    min-width: 82px
    border: 1px solid #000
    width: auto
    text-align: center
    height: 20px
    font-size: 18px
.customerPaymentHeaderTr
    width: 100%
.customerPaymentHeaderTd
    position: relative
    border: 1px solid #000
.customerPaymentHeaderSpan
    width: 75%
    display: inline-block
    margin: 0
    font-size: 18px
.customerPaymentHeaderFilter
    border: none
    background: #ccc0
    outline: none
    width: 25px
    padding: 0
    position: absolute
    bottom: 0
    right: 0
.customerPaymentMainTd
    border: 1px solid #000
    text-align: center
    position: relative
.customerPaymentInsideTable
    border: 1px solid #000
    background-color: #eee29d
    width: 100%
    border-collapse: collapse
.customerPaymentInsideHeader
    background-color: #d4a3383b
    vertical-align: top
    min-width: 82px
    border: 1px solid #000
    width: auto
    text-align: center
    height: 20px
    font-size: 18px
    z-index: 999
.customerPaymentInsideTd
    border: 1px solid #000
    text-align: center
.customerPaymentBoldFont
    font-style: italic
    color: #5333b4
.customerPaymentTrClose
    position: absolute
    top: 0
    right: 10px
