.divHeader
  display: flex
  justify-content: space-around
  margin: 5px
.wrapperCheckBox
  min-width: 100px
.wrapperMenuDoc
  display: flex
  width: 100%
.wrapperTypeOfDoc
  display: table
  border-collapse: collapse
  width: 50%
.wrapperBtnBlock
  display: flex
  justify-content: space-around
.typeOfDoc
  display: table-cell
  border: 1px solid #000
  width: 33.333%
  text-align: center
.typeOfDocActive
  border-bottom: none
