.EDFmainForm
   width: 100%
   height: 100%
   background-color: #eee29d
.EDFMenuDiv
   width: 100%
   display: flex
   justify-content: space-around
   padding: 5px
.EDFMenuBtn
   background-color: #decf7f
   color: #5333b4
   border: none
.EDFTableDiv
   width: 100%
   height: 92%
   overflow-y: auto
.driverH2
   text-align: center
   margin: 0
.driverFilter
   display: flex
   justify-content: space-around
.driverFilter
   z-index: 20
   margin: 10px
.driverChoise
   z-index: 20
   height: 20px
.driverTbl
   width: 100%
   border: 1px solid #000
   border-collapse: collapse
   background-color: #d4a3383b
.driverTdHeader
   position: sticky
   top: 0
   z-index: 10
   border: 1px solid #000
   background-color: #decf7f
.driverTbody
   overflow-y: auto
.driverTd
   border: 1px solid #000
   z-index: 5
   min-width: 120px
.blueFont
   color: blue
.driverTrInput
   width: 100%
   padding: 0
   border: none
   height: 100%