.EDFmainForm
   width: 100%
   height: calc(100% - 26px)
   background-color: #eee29d
.EDFMenuDiv
   display: flex
   justify-content: space-around
   padding: 5px
   height: 18px
.EDFMenuBtn
   background-color: #decf7f
   color: #5333b4
   border: none
.EDFTableDiv
   width: 100%
   height: calc( 100% - 28px )
.tableDiv
   width: 100%
   height: calc( 100% - 80px )
   overflow-y: auto
   z-index: 5
.tableManagerDiv
   width: 100%
   height: calc( 10ь 0% - 130px )
   overflow-y: auto
   z-index: 5
.driverH2,.pointsH2,.customerH2,.managerH2
   text-align: center
   margin: 0
   height: 25px
.driverFilter,.customerFilter
   display: flex
   justify-content: space-around
.driverFilter,.customerFilter
   z-index: 20
   margin: 10px
   height: 32px
.driverChoise,.trackDriverChoise,.pointChoise,.customerChoise
   z-index: 20
   height: 20px
   max-width: 250px
.driverTbl,.trackDriverTbl,.trackTbl,.pointsTbl,.customerTbl,.managerTbl
   width: 100%
   border: 1px solid #000
   border-collapse: collapse
   background-color: #d4a3383b
   overflow-y: auto
   margin: 3px 0
   position: relative
.zindex2
   z-index: 1
.trackDriverTr
   position: sticky
   top: 0
   z-index: 3
.driverTdHeader,.trackDriverTdHeader,.trackTdHeader,.pointsTdHeader,.customerTdHeader,.customerManagerTdHeader
   position: sticky
   top: 0
   z-index: 10
   border: 1px solid #000
   background-color: #decf7f
   text-align: center
.customerAddTdHeader
   border: 1px solid #000
   background-color: #decf7f
   text-align: center
.driverTbody,.trackDriverTbody,.customerTbody,.customerManagerTbody
   overflow-y: auto
.driverTd
   border: 1px solid #000
   z-index: 5
   min-width: 120px
   position: relative
.trackDriverTd,.trackTd,.pointTd,.customerTd,.customerManagerTd
   border: 1px solid #000
   min-width: 80px
   position: relative
   max-width: 169px
.customerAddTd
   border: 1px solid #000
   z-index: 5
   min-width: 80px
   position: relative
   max-width: 169px
   height: 18px
.suggestionTd
   border: 1px solid #000
   z-index: 5
   background-color: #d1cbbb
.blueFont
   color: blue
.driverTrInput,.trackTrInput,.pointTrInput,.customerTrInput
   width: 100%
   padding: 0
   border: none
   height: 100%
.driverAddBtn,.trackAddBtn,.pointAddBtn,.addContractBtn
   background-color: #e0d185
   height: 20px
   margin-bottom: 5px
.managerAddBtn
   background-color: #e0d185
   height: 20px
   margin: 0 10px 5px 5px
.driverActiveTr,.pointActiveTr,.customerActiveTr
   position: relative
   background-color: #d4a338
.driverNotActiveTr
   position: relative
   z-index: 1
.driverAccountTr
   height: 20px
.tdZ10
   z-index: 10
.managerHeader
   width: 100%
   height: 40px
   display: flex
   justify-content: right
.driverInfoWraper
   height: calc( 85% - 27px )
.driverInfoHeader
   width: 90%
   height: 22px
   display: flex
   justify-content: space-between
   margin: 25px auto 0
.driverInfoDivMarker
   display: flex
.divMarker
   border: 1px solid black
   margin: 0 -1px -1px 0
   padding: 0 10px
   background-color: #decf7f
.driverInfoContent
   width: 100%
   height: calc( 100% - 22px )
.divWithoutBottom
   border-bottom: 1px solid #decf7f
.addContractBtnWrap
   width: 30%
   display: flex
   justify-content: space-around
.divAddInfo
   display: flex
   width: 50%
   min-width: 600px
   margin-top: 5px
   justify-content: space-around
.spanAddInfo
   width: 200px
.spanAddInfoInput
   width: calc( 100% - 200px )
.inputAddInfo
   width: calc( 100% - 200px )
.spanAddInfoInput:hover
   background-color: #decf7f
.storeTable
   width: 90%
   border-collapse: collapse
   margin: 5%
.storeTd
   border: 1px solid #000
.storeFormAddBtn
   width: 130px
   margin: 5px 70px 5px 0
   float: right
.storeTrChoisen
   background-color: #d7c153
.storeAddTr
   color: grey
.containerSpan
   width: 100%
   height: 18px
.w400
   min-width: 400px
.trackDriverEmbedWrap
   width: 100%
   display: flex
   justify-content: center
   height: 251px
.costomerAddDiv
   width: 100%
   height: calc(100% - 26px)
   background-color: #eee29d
.CustomerAddHeader
   width: 100%
   height: 25px
   text-align: center
   padding-top: 20px
.suggestionsDiv
   position: absolute
   width: 600px
   z-index: 10
   background-color: #dededa
   border: 1px solid #000
   left: 30px
   top: 10px
.customerAddFooter
   width: 100%
   height: 25px
   margin: 50px 0
   display: flex
.customerAddSpanHeader
   width: 20%
   height: 18px
   display: inline-block
.customerAddSpanInfo
   width: 60%
   height: 18px
   display: inline-block
.customerAddSpanInfo:hover
   background-color: #f5edbf
.customerAddButtonWrapper
   width: 20%
   height: 18px
   display: inline-block
.contractSvgTd
   width: 100%
   display: flex
   justify-content: space-between
.divContextMenu
   position: absolute
   right: 50px
   top: 10px
   width: 160px
   border: 1px solid #000000
   background-color: #f5e8c4
   z-index: 5
.pContextMenu
   margin: 0
   padding: 5px
.pContextMenu:hover
   background-color: #d7c6a0
.divDebtOfCustomer
   height: 60px
   width: 100%
   text-align: center
.red
   color: red
   font-size: 20px
.redFont
   color: red
.divInfoOfCustomer
   height: 30px
   margin-top: 10px
   display: flex
   justify-content: space-around
   color: black
   font-size: 16px
.suggestionsTdDiv
   position: absolute
   min-height: 18px
   opacity: 0.75
   top: -15px
   width: 600px
   z-index: 15
   background-color: #dededa
   border: 1px solid #000
.customerAccountTr
   height: 22px
.suggestionsTdSpan:hover
   background-color: #d1c2c2
