.EDFmainForm
   width: 100%
   height: 100%
   background-color: #eee29d
.EDFMenuDiv
   width: 100%
   display: flex
   justify-content: space-around
   padding: 5px
.EDFMenuBtn
   background-color: #decf7f
   color: #5333b4
   border: none
.EDFTableDiv
   width: 100%
   height: 92%
   overflow-y: auto
.driverTbl
   width: 100%
   border: 1px solid #000
   border-collapse: collapse
.driverTdHeader
   position: sticky
   top: 0
   z-index: 10
   border: 1px solid #000
   background-color: #decf7f
.driverTbody
   overflow-y: auto
   height: 300px
.driverTd
   border: 1px solid #000
   z-index: 5