@media (min-width:1200px)
    .crOderMainDiv
        font-size: 18px
    .PFBtnSvg
        width: 14px
        height: 14px
@media (max-width: 1200px)
    .crOderMainDiv
        font-size: 16px
    .PFBtnSvg
        width: 12px
        height: 12px
@media (max-width: 900px)
    .crOderMainDiv
        font-size: 12px
    .PFBtnSvg
        width: 10px
        height: 10px
.createOderForm
    border: 1px solid #000
    display: flex
    height: 14vh
    margin: 1% 3.5%
    width: 90%
.createOderLabel
    border: 1px solid #000
    display: flex
    flex-direction: column
    width: 14%
.createOderAddBtn
    // Стили для кнопки добавления
    display: inline-block
.createOderAddP
    margin: 0
    padding: 0
.crOderMainDiv
    width: 98%
    height: 94%
    margin: auto
    background-color: #d1cbbb
    transition: height 2s
.H250
    height: 300px
.crOderCustomerHeader,.crOderDriverHeader
    text-align: center
    margin: 0 0 .5% 0
    height: 5%
.crOderCustomDiv
    box-sizing: border-box
    border: 1px solid #000
    width: 100%
    max-height: 60%
    display: flex
    justify-content: space-between
.crOderDriverDiv
    box-sizing: border-box
    border: 1px solid #000
    width: 100%
    max-height: 20%
    display: flex
    justify-content: space-between
.crOderDate
    border: 1px solid #a19f9f
    width: 15%
.crOderDateInput
    width: 98%
    font-size: 14px
    border: none
    height: 20px
    padding: 0
.crOderDateP,.crOderClientP,.crOderManagerP,.crOderApplicationP,.crOderPriceP,.crOderOwnerP,.crOderTrackDriverP,.crOderTrackP,.crOderDriverPriceP
    text-align: center
    //font-size: 18px
    margin: 0
.crOderApplicationP
    width: 70%
.crOderApplicationP:hover
    background-color: #e0dcd1
.crOderCLient
    border: 1px solid #a19f9f
    width: 20%
.crOderCLientContent,.crOderRouteContent
    display: flex
    justify-content: space-between
.crOderClientPart,.crOderLoadPart,.crOderUnloadPart
    width: 100%
    position: relative
.crOderRoute
    border: 1px solid #a19f9f
    width: 50%
.crOderOwner
    border: 1px solid #a19f9f
    width: 25%
.crOderTrackDriver
    border: 1px solid #a19f9f
    width: 25%
.crOderTrack
    border: 1px solid #a19f9f
    width: 25%
.crOderCustomHeader,.crOderLoadHeader,.crOderCustomPriceHeader,.crOderUnloadHeader,.crOderOwnerHeader,.crOderTrackDriverHeader,.crOderTrackHeader,.crOderDriverPriceHeader
    text-align: center
    margin: 0
    height: 22px
.containerInput
    margin-top: 22px
    border: none
.containerChoise
    height: 20px
.routeH15px
    height: 15px
.routeH10px
    height: 10px
.crOderPrice
    border: 1px solid #a19f9f
    width: 15%
.crOderPriceWrap
    width: 100%
    margin-top: 22px
    height: 20px
.crOderDriverPriceWrap
    width: 100%
    height: 20px
.crOderPriceInput
    border: none
    width: 100%
    padding: 0
    height: 100%
.crOderDriverPriceInput
    border: none
    width: 100%
    padding: 0
    height: 100%
.crOdBtn
    float: right
    margin: 10px
    min-width: 100px
    height: 25px
// CSS PointsForm
.PFmainDiv
    border: none
.PFheader
    display: flex
    justify-content: space-around
.PFhtaderH
    margin: 0
    height: 15px
.PFContent
    display: flex
    justify-content: space-between
    height: 20px
.PFBtnWrap
    width: 10%
    height: 20px
    display: flex
    align-items: center
    justify-content: center
.PFBtn
    border: 1px solid #000
    border-radius: 50%
    width: 10px
    height: 10px
.PFBtnSvg
    display: block
.PFContentPoint
    margin: 0
    width: 45%
.PFContentInfo
    margin: 0
    width: 55%
    transition-property: background-color
    transition-duration: 1s
.PFContentInfo:hover
    background-color: #e0dcd1
.crOderLoadInfo
    border: none
    padding: 0
    height: 20px
    width: 100%
.test
    width: 100%
    height: 20px
    background-color: #fff
.svg
    position: absolute
.applicationContainer
    display: flex
    margin-top: 10px
    justify-content: space-around
.appHeader
    text-align: center
    margin: 0
    height: 22px
    width: 30%
.crOderApplication
    border: none
    padding: 0
    height: 20px
    width: 70%
.footer
    display: flex
    justify-content: flex-end
    height: 100px
.rightPathWrap
    width: 40%
    display: flex
    flex-wrap: wrap
    align-items: center
.infoBlock
    width: 100%
    height: 40px
.footerCheckBox
    margin: 10px
    min-width: 200px
.addFields
    margin: 10px
    width: 80%
    display: flex
    height: 20px
.wrapInput
    margin: 0 10px
    max-width: 150px
.red
    color: red
    font-size: 25px