.driverPaymentMainDiv, .driverDebtMainDiv
   height: calc( 100% - 2px )
   border: 1px solid #000
   background-color: #eee29d
   position: relative
.driverDebtTableDiv
   height: 70%
   overflow-y: auto
   position: relative
.driverPaymentHeader, .driverDebtHeader
   display: flex
   justify-content: space-around
   height: 20%
.driverPaymentTableSpan
   text-align: center
   width: 100%
   display: inline-block
.driverDebtMainTable
   border: 1px solid #000
   background-color: #d4a3383b
   width: 100%
   margin: auto
   border-collapse: collapse
   position: relative
.driverDebtMainHeader
   background-color: #ccc
   position: sticky
   top: 0
   z-index: 5
   vertical-align: top
   min-width: 82px
   border: 1px solid #000
   width: auto
   text-align: center
   height: 20px
   font-size: 18px
.driverDebtMainBody
   position: relative
.driverPaymentChoiseP
   font-weight: bold
   font-size: 18px
.driverPaymentChoise
   position: relative
   margin: 0.5%
   width: 15%
   height: 25px
   text-align: center
   z-index: 10
.driverPaymentDetails
   margin: 0.5%
   width: 15%
   text-align: center
.trackDriverP
   margin: 0
   color: #7e7e7e
.driverDebtMainHeaderTr
   width: 97%
.driverDebtMainHeaderTd
   position: relative
   border: 1px solid #000
.driverDebtMainTr
   border: 1px solid #000
   text-align: center
   position: relative
.driverDebtBtn
   margin-top: 1%
   margin-right: 5%
   width: 10%
   float: right
.driverDebtCreateTr
   border: 1px solid #000
   text-align: center
   position: relative
.driverDebtCreateTd
   height: 18px
   position: relative
   border: 1px solid #000
   background-color: #fff
.driveDebtCreateInput
   height: 100%
   width: 100%
   border: none
   text-align: center
   font-size: 16px
.driveDebtCreateInput:focus-visible
   outline: none
   padding: 0
.driverDebtCreateChoise
   position: absolute
   width: 98%
   top: 0
   z-index: 10
.driverDebtMark
   background: #c94
.driverPaymentDebtsDiv
   height: 30%
   overflow-y: auto
.driverPaymentOdersDiv
   height: 70%
   overflow-y: auto
.driverDebtDivPopup
   position: absolute
   border: 1px solid #000
   background-color: #dad9b1
   bottom: 50%
   left: 50%
   width: 90%
   font-size: 14px
   z-index: 5
.driverPaymentsListMainDiv
   width: 100%
   height: calc(100% - 2px)
   overflow-y: auto
.driverPaymentsListMainTable
   width: 100%
   border-collapse: collapse
   position: relative
   background-color: #e9d68c
.driverOrdersLitTable,.driverDebtsListTable
   width: 100%
   border-collapse: collapse
   position: relative
   color: blue
   font-style: italic
.driverPaymentsListMainTableThead
   width: 100%
   background-color: #ccc
   position: sticky
   top: 0
   z-index: 5
   vertical-align: top
   min-width: 82px
   border: 1px solid #000
   width: auto
   text-align: center
   height: 20px
   font-size: 18px
.statusRequestDiv
   position: absolute
   top: 50%
   left: 50%
   color: yellow
   font-size: 30px
.driverPaymentTd
   position: relative
   border: 1px solid #000
   text-align: center
.blueTr
   color: blue
.virtualTable
   display: flex
   flex-direction: column
   height: 100%
   font-size: 16px
=widthOfCol
   grid-template-columns: 120px auto 200px 200px
.virtualHeader
   display: grid
   +widthOfCol
   padding: 0 23px 0 8px
   position: sticky
   top: 0
   z-index: 10
   border-bottom: 1px solid #333
   background-color: #ccc
   font-size: 18px
.virtualHeader > .virtualCell:last-child
   border-right: 1px solid #000
.virtualCell
   flex: 1
   padding: 4px 10px
   white-space: nowrap
   overflow: hidden
   text-overflow: ellipsis
   border-bottom: 1px solid #000
   border-left: 1px solid #000
.lastCell
   display: flex
   flex-direction: row
   justify-content: space-between
.virtualBody
   height: 600px
   overflow: auto
   background-color: #e9d68c
.virtualRow
   box-sizing: border-box
   height: auto
   overflow: visible
   min-height: 27px
.virtualRowMain
   display: grid
   +widthOfCol
   align-items: center
   min-height: 27px
   padding: 0 8px
.virtualRowMain > .virtualCell:last-child
   border-right: 1px solid #000
.virtualRowDetails
   padding: 0px 12px
   font-size: 14px
   box-sizing: border-box
   color: blue
   font-style: italic
.wrapperSvg
   height: 17px
   margin-left: auto
   margin-right: 10px
=widthOfColDetails
   grid-template-columns: 120px 200px auto 300px 100px 100px
.virtualHeaderDetails
   display: grid
   +widthOfColDetails
   margin: 0 23px 0 8px
   top: 0
   z-index: 10
   background-color: #ccc
   font-size: 18px
.virtualHeaderDetails > .virtualCell:last-child
   border-right: 1px solid #000
.virtualRowBodyDetails
   display: grid
   +widthOfColDetails
   padding: 0 23px 0 8px
   z-index: 10
.virtualRowBodyDetails > .virtualCell:last-child
   border-right: 1px solid #000
.error
   margin: 0 23px 0 8px
   border-right: 1px solid #000
   text-align: center
=widthOfColDebtDetails
   grid-template-columns: 120px 200px auto 300px 100px
.virtualHeaderDebtDetails
   display: grid
   +widthOfColDebtDetails
   margin: 0 23px 0 8px
   top: 0
   z-index: 10
   background-color: #ccc
   font-size: 18px
.virtualHeaderDebtDetails > .virtualCell:last-child
   border-right: 1px solid #000
.virtualRowBodyBebtDetails
   display: grid
   +widthOfColDebtDetails
   margin: 0 23px 0 8px
   top: 0
   z-index: 10
.virtualRowBodyBebtDetails > .virtualCell:last-child
   border-right: 1px solid #000
.debtError
   display: grid
   grid-template-columns: auto 100px
   margin: 0 23px 0 8px
.debtError > .virtualCell:last-child
   border-right: 1px solid #000
.blueFont
   color: blue