.driverPaymentMainDiv, .driverDebtMainDiv
   height: calc( 100% - 25px )
   border: 1px solid #000
   background-color: #eee29d
   position: relative
.driverDebtTableDiv
   height: 70%
   overflow-y: auto
   position: relative
.driverPaymentHeader, .driverDebtHeader
   display: flex
   justify-content: space-around
   height: 20%
.driverPaymentTableSpan
   text-align: center
   width: 100%
   display: inline-block
.driverDebtMainTable
   border: 1px solid #000
   background-color: #d4a3383b
   width: 100%
   margin: auto
   border-collapse: collapse
   position: relative
.driverDebtMainHeader
   background-color: #ccc
   position: sticky
   top: 0
   z-index: 5
   vertical-align: top
   min-width: 82px
   border: 1px solid #000
   width: auto
   text-align: center
   height: 20px
   font-size: 18px
.driverDebtMainBody
   position: relative
.driverPaymentChoiseP
   font-weight: bold
   font-size: 18px
.driverPaymentChoise
   position: relative
   margin: 0.5%
   width: 15%
   height: 25px
   text-align: center
   z-index: 10
.driverPaymentDetails
   margin: 0.5%
   width: 15%
   text-align: center
.trackDriverP
   margin: 0
   color: #7e7e7e
.driverDebtMainHeaderTr
   width: 97%
.driverDebtMainHeaderTd
   position: relative
   border: 1px solid #000
.driverDebtMainTr
   border: 1px solid #000
   text-align: center
   position: relative
.driverDebtBtn
   margin-top: 1%
   margin-right: 5%
   width: 10%
   float: right
.driverDebtCreateTr
   border: 1px solid #000
   text-align: center
   position: relative
.driverDebtCreateTd
   height: 18px
   position: relative
   border: 1px solid #000
   background-color: #fff
.driveDebtCreateInput
   height: 100%
   width: 100%
   border: none
   text-align: center
   font-size: 16px
.driveDebtCreateInput:focus-visible
   outline: none
   padding: 0
.driverDebtCreateChoise
   position: absolute
   width: 98%
   top: 0
   z-index: 10
.driverDebtMark
   background: #c94
.driverPaymentDebtsDiv
   height: 30%
   overflow-y: auto
.driverPaymentOdersDiv
   height: 70%
   overflow-y: auto
.driverDebtDivPopup
   position: absolute
   border: 1px solid #000
   background-color: #dad9b1
   bottom: 50%
   left: 50%
   width: 90%
   font-size: 14px
   z-index: 5
.driverPaymentsListMainDiv
   width: 100%
   height: calc(100% - 2px)
   overflow-y: auto
.driverPaymentsListMainTable
   width: 100%
   border-collapse: collapse
   position: relative
   background-color: #e9d68c
.driverOrdersLitTable,.driverDebtsListTable
   width: 100%
   border-collapse: collapse
   position: relative
   color: blue
   font-style: italic
.driverPaymentsListMainTableThead
   width: 100%
   background-color: #ccc
   position: sticky
   top: 0
   z-index: 5
   vertical-align: top
   min-width: 82px
   border: 1px solid #000
   width: auto
   text-align: center
   height: 20px
   font-size: 18px
.statusRequestDiv
   position: absolute
   top: 50%
   left: 50%
   color: yellow
   font-size: 30px
.driverPaymentTd
   position: relative
   border: 1px solid #000
   text-align: center
.blueTr
   color: blue
