.customerPaymentMainDiv
   height: calc( 100% - 2px )
   border: 1px solid #000
   background-color: #eee29d
.customerPaymentHeader
   display: flex
   justify-content: space-between
   height: 20%
.customerPaymentHeaderDiv
   display: flex
   flex-direction: column
   max-width: 30%
   min-width: 15%
   margin: 0 2%
   position: relative
.customeerPaymentWrapperChoiseDiv
   position: relative
.customerPaymentOrdersTable
   border: 1px solid #000
   margin: 0 auto
   width: 94%
   border-collapse: collapse
.customerPaymentHeaderP
   text-align: center
   height: 25%
.customerPaymentHeaderUnkown
   border: 1px solid #000
.customerPaymentOdersDiv
   background-color: #eee29d
   max-height: 55%
   width: 100%
   display: flex
   flex-direction: column
   overflow-y: auto
.customerPaymentBtn
   margin-top: 1%
   margin-right: 5%
   width: 10%
   float: right
.customerPaymentTotalDebtP
   margin: 1%
   text-align: center
   font-size: 22px
