.customerPaymentMainDiv
   height: 100%
   border: 1px solid #000
   background-color: #eee29d
.customerPaymentHeader
   display: flex
.customerPaymentHeaderDiv
   display: flex
   flex-direction: column
   width: 20%
   margin: 0 5% 
.customerPaymentHeaderP
   text-align: center
   height: 15%
.customerPaymentHeaderUnkown
   border: 1px solid #000