@media (min-width: 700px)
   .customerOrdersHeader
      height: 30px
   .customerOrdersHeaderHeader
      min-width: 400px
@media (max-width: 700px)
   .customerOrdersHeader
      height: 60px
   .customerOrdersHeaderHeader
      min-width: 250px
.customerOrdersHeader
   display: flex
   justify-content: space-between
   align-items: center
.customerOrdersHeaderHeader
   width: 80%
   text-align: center
   font-size: 25px
   font-weight: 700
.customerOrdersUser
   width: 10%
   min-width: 200px
   text-align: center
   font-style: italic
   font-size: 18px
.customerOrdersExit
   width: 10%
   min-width: 70px
   text-align: center
   font-size: 18px
.customerOrderMainHeader
   display: flex
   justify-content: start
   width: 100%
.customerOrderHeaderTab
   border: 1px solid #000
   width: 150px
   margin-right: -1px
   margin-bottom: -1px
   text-align: center
.whiteBottom
   border-bottom-color: white
.greyColor
   color: grey
.customerOrdderContentDiv
   border: 1px solid #000
