.userTrChosen
   background-color: #ccc
.userTrPart
   background-color: #e0a473
.formAddDocMainDiv
   border: 1px solid #000
   position: absolute
   background-color: #fff
   z-index: 5
.formAddDocHeaser
   display: flex
   border: 1px solid #000
   background-color: #6462623b
.formAddDocHeaderH3
   margin: 0
   width: 95%
